<%- include('partials/header') %>

        <header>
            <h1>Login using...</h1>
        </header>
        <main>
            <a  href="/auth/outlook">Outlook</a>
        </main>
    </body>
</html>
